<h1>Have Some Kindness!</h1>

<div id="acts_results">
  <% @acts.each do |act| %>
    <div class="random_act">
      <div class="name"><%= act.name %></div>
      <div class="description"><%= act.description %></div>
      <div class="costs">
        <div class="cost">Cost: <%= act.in_units("cost", act.cost) %></div>
        <div class="cost">Effort: <%= act.in_units("effort", act.effort) %></div>
        <div class="cost"><%= act.in_units("time", act.time) %></div>
      </div>
    </div>
  <% end %>
</div>