<h1>Have Some Kindness!</h1>

<div id="acts_results">
  <% @acts.each do |act| %>
    <div class="random_act">
      <div class="name"><%= act.name %></div>
      <div class="description"><%= act.description %></div>
      <div class="costs">
        <div class="cost">Cost: <%= act.cost_units %></div>
        <div class="cost">Effort: <%= act.effort_units %></div>
        <div class="cost"><%= act.time_units(act.time) %></div>
      </div>
    </div>
  <% end %>
</div>
